<% include partials/headers.ejs %>


<html>
<head>
	<title>Your Inventory</title>

</head>
<body>

  <h1>Vehicles</h1>
  
  		<% vehicles.forEach(function(vehicle){ %>
  		<!-- this is where all of our cars will go -->
  		 
  		 <ul style = "list-style:none;">Vehicle:
  		 	<li>
  		 	<%= vehicle.year%>
  			<%= vehicle.make %>
  			<%= vehicle.model%>
  			<a href="/vehicle/<%= vehicle.id%>">More information</a>
  			</li>
  		</ul>	
  		<% }) %>
  
  <% if (isAuthenticated) { %>
  <h1><a href="/myvehicles/<%=user.id%>">My vehicles</a></h1>
  <h1>Add a new car <a href="/postCar">here:</a></h1>
<h3><a href="/logout">Log out</a></h3>
  <% } %>

</body>
</html>