<% include partials/headers.ejs %>


<html>
<head>
	<title>Your Inventory</title>

</head>
<body>
<h5 class="logout"><a href="/logout">Log out</a></h5
>

  <h1>Current Inventory</h1>
  
  		<% vehicles.forEach(function(vehicle){ %>
  		<!-- this is where all of our cars will go -->
  	
  		 <ul style = "list-style:none;">Vehicle:
  		 	<li>
  		 	<%= vehicle.year%>
  			<%= vehicle.make %>
  			<%= vehicle.model%>
  			<a href="/vehicle/<%= vehicle.id%>">View</a>
  			</li>
  		</ul>	
  		<% }) %>
  
  <% if (isAuthenticated) { %>
<div class="inventory col-md-2">
  <h4><a href="/myvehicles/<%=user.id%>">My vehicles</a></h4>
  <h4>Add a new car <a href="/postCar">here</a></h4>
</div>  
  <% } %>

</body>
</html>