<% include partials/headers.ejs %>

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>View Vehicle</title>
	</head>
	<body>
		<h1><%= vehicle.year%>
  			<%= vehicle.make %>
  			<%= vehicle.model%></h1>
    <p>
        <img style = "width:600px"  src="<%= vehicle.imageURL%>" alt="car pic">
    </p>
  	<p> Year:
  		 	<%= vehicle.year%>
  	</p>
  	<p> Make:
  			<%= vehicle.make %>
  	</p>
  	<p> Model:
  			<%= vehicle.model%>
  	</p>
  	<p>
  			<%= vehicle.description%>
  	</p>

  			
  						
		<a href="/inventory">Go back to the inventory</a>
	</body>
</html>